<h1>Hi <%= current_volunteer.first_name %> <small>Welcome to Bright Futures!</small></h1>

<div class="alert alert-info">
  After this, you will always be redirected <a href="/conversations">here</a>. The conversations panel is where you get stuff done.
</div>