@import "bootstrap/bootstrap.less";
.deck-container {
  font-size:1.75em;
  background: url(backgrounds/bedge_grunge.png);

 
  .slide {
    ul {
      text-align: left;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Lato', sans-serif;
      font-weight: 900; 
    }

    h1 {
      color:#08455f;
    }

    h2 {
      color:#0b7495;
      border-bottom:0;
    }

  }
}


