<h1>Hey <%= @message.to %>,</h1>
<br><br><br><br>
<p>You have just recieved a message from <%= @message.from %> click <%= link_to "here", :controller => "conversations", :action => "show", :id => @message.conversation.id %> to see it.<br>
Thanks!</p>