<h3>Hey <%= @message.to %>,</h3>
<br>
<p>You have just recieved a message from <%= @message.from %> click <a href="http://cradles.herokuapp.com/conversations/<%= @message.conversation.id %>">here</a> to see it.<br>
Thanks!</p>