<div class="row center">
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item hero-unit">
        <h1>Make A difference in a child's life today!</h1>
        <img src="http://www.bpef-online.org/wp-content/uploads/2009/11/Volunteer-with-students.jpg" class="centered">
      </div>
      <div class="item hero-unit">
        <h1>Local boy volunteers at local school!</h1>
        <img src="http://www.familyandchildrensagency.org/wp-content/uploads/2011/07/volunteer4_-web.jpg">
      </div>
      <div class="item hero-unit">
        <h1>Volunteer Today!</h1>
        <img src="http://dlglawfirm.com/wp-content/uploads/2012/09/Field-Trip.jpg">
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>     
</div><!--/row-->
<div class="row center">
  <div class="span6">
    <h1>Teacher</h1>
    <%= link_to "Teacher Sign in", new_session_path('teacher'), :class => 'btn btn-success btn-large btn-block' %>
    <%= link_to "Teacher Registration", new_registration_path('teacher'), :class => 'btn btn-primary btn-large btn-block' %>
  </div>
  <div class="span6">
    <h1>Classroom Volunteer</h1>
    <%= link_to "Volunteer Sign in", new_session_path('volunteer'), :class => 'btn btn-success btn-large btn-block' %>
    <%= link_to "Volunteer Registration", new_registration_path('volunteer'), :class => 'btn btn-primary btn-large btn-block' %>
  </div>
</div>